/* GENERIC STYLES */
html{
    font-family: sans-serif;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    image-rendering: -webkit-optimize-contrast;
}

body{
    font-size: 14px;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: white;
}

footer, nav{
    display: block;
}

h1, h2{
    font-family: Open Sans, sans-serif;
}

h1{
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: centercolor #00ab8d;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2{
    line-height: 50px;
    color: #00ab8d;
}

h3{
    line-height: 20px;
    padding-bottom: 20px;
}

h4{
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 20px;

}

p{
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center{
    text-align: center;
}

.heading-padding{
    padding-bottom: 40px;
}

section{
    padding-top: 50px;
    margin-top: 50px;
}

.navbar{
    height: 105px;
    max-height: 340px;
    display: block;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wrap{
    height: 10rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00795a;
}

.menu_container{
    max-height: 340px;
    min-height: 8rem;
    margin: 0% auto;
    content: "";
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 0;
    background-color: #fff;
}

/* Home Section Styles */

#home{
    background: url(../img/Home\ Background\ Image.jpeg);
    filter: brightness(80%);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /* Spacer before the main title logo */
    padding-bottom: 500px; /* Spacer after the main title logo */
    color: #fff;
}



.head_main{
    text-shadow: 2px 4px 5px rgba(0, 0, 0, .5);
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: right;
    font-family: impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    background-color: #00ab8d;
    border: 5px double #00795a;
    padding: 10px;
    margin-left: 25%;
}

/* End Home Section */

/* Nav Bar Style */

.navigation{
    display: flex;
    margin: 0;
    align-items: center;
    width: 100%;
    height: 8rem;
}

.navigation a{
    display: flex;
    width: 45%;
    height: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: #00ab8d;
    font-weight: 500;
    
}

.navigation a:hover{
    animation: hovering_menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;   /* Makes the animation stay at 100% */

}

.navigation img{
    height: 100%;
    margin-right: 20rem;
    margin-left: 10rem;
    cursor: pointer;
}

/* End Navbar */

/* Content Container in Gallery and RSVP Section */

.content_container{
    background-color: #eee;
    width: 80%;
    margin-left: 10%;
    margin-top: -5%;
    padding-bottom: 0%;
    border-radius: 2%;
}

/* End Content Container */

/* Gallery */

#gallery{
    margin-left: 40rem;
    margin-right: 40rem;
}

.flex_container{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: ;
}

.photo{
    justify-content: center;
}

/* End Gallery */

/* Contact */

#rsvp{
    background-color: #00ab8d;
    width: 100rem;
    height: auto;
    padding: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


/* End Contact */

/* ANIMATIONS */

@keyframes hovering_menu{
    100%{
        background-color: #00ab8d;
        color: #fff;
    }
}